@import '../../../common/style/helperDesktop';

.default-pane {
  .header {
    @extend %fixed-position;
    padding: 0.5em 0 0 0;
    box-sizing: border-box;
    z-index: 1;
    background: $primaryBackgroundColor;

    .nav-buttons {
      @include display(space-between);
      border-right: 1px solid #DADADA;
      padding-left: 1em;
      height: 3.5em;

      button {
        width: 3em;
        height: 3em;
        border-radius: 1.5em;
        margin: 0 0.5em;

        &:focus {
          background: #D5D4D4;
        }
      }
    }

    input {
      @extend %style-box;
      width: 100%;
      padding: 0.5em 0 0.8em 4em;
      box-sizing: border-box;
      position: relative;
      bottom: 1em;
      font-size: 0.9em;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .search-icon {
      position: relative;
      top: 0.8em;
      left: 0.8em;
      z-index: 1;
      font-size: 1.3em;
      color: $primaryColor;
    }

    .search-box {
      background-color: #F6F7F7;
      padding: 0 1em;
      height: 3.8em;
      border-bottom: 0.5px solid #dadada71;
    }
  }

  button {
    @extend %remove-default;
  }

  .content {
    position: relative;
    top: 8em;

    .contact-list {
      @extend %style-scrollbar;
      padding-bottom: 0.5em;
      height: auto;
      max-height: 32em;
      overflow-y: auto;

      .contact {
        display: flex;
        align-items: center;
        gap: 0 2em;
        padding-left: 0.6em;

        &:hover {
          background: $hoverColor;
        }

        .info {
          width: 100%;
          border-bottom: 0.5px solid #dcdcdc75;
          padding: 0.5em 1em 0.5em 0;
          cursor: pointer;

          p {
            margin: 0.5em 0 0 0;
            font-size: 1.1em;
          }

          div {
            @include display(space-between);
            font-size: 0.88em;

            .notification {
              background-color: $secondaryColor;
              padding: 0.5em 0.8em;
              font-weight: 600;
              color: $textPrimaryColor;
              border-radius: 50%;
              font-size: 0.75em;
            }
          }
        }
      }

      .contact-photo {
        @extend %photo-size;
        object-fit: cover;
      }
    }
  }

  .photo-container {
    height: 2.7em;
    width: 2.7em;
    background: #000;
    border-radius: 50%;

    .profile-photo {
      height: 2.7em;
      width: 2.7em;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .overlay {
    @extend %style-overlay;
  }

  .dropdown {
    @extend %style-dropdown;
    position: fixed;
    left: 15em;
    top: 3.2em;
    width: 11em;
    z-index: 1;
    animation: pop-in 0.3s ease-in-out;
  }
}
