$textPrimaryColor: #fff;
$primaryColor: #919191;
$secondaryColor: #00E676;
$hoverColor: #ebebeb8e;
$primaryBackgroundColor: #EDEDED;

%fixed-position {
  position: fixed;
  top: 0;
  left: 0;
  width: 35%;
}

%primary-width {
  width: 65%;
}

.right-pane {
  %fixed-position {
    width: 30%;
  }

  %primary-width {
    width: 40%;
  }
}

%style-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: transparent;
}

%photo-size {
  height: 3.5em;
  width: 3.5em;
  cursor: pointer;
  border-radius: 50%;
}

@mixin display($value) {
  display: flex;
  justify-content: $value;
  align-items: center;
}

%remove-default {
  border: unset;
  background-color: transparent;
  color: $primaryColor;
  cursor: pointer;

  &:active {
    transform: translateY(0.1em);
    -webkit-tap-highlight-color: transparent;
  }
}

%style-box {
  border-radius: 1.5em;
  resize: none;
  outline: none;
  border: unset;
}

%style-dropdown {
  display: flex;
  flex-direction: column;
  width: 12.5em;
  padding: 0.5em 0;
  border-radius: 0.2em;
  background-color: $textPrimaryColor;
  box-shadow: 0 0.2em 0.3em 0em #00000060;

  button {
    @extend %remove-default;
    color: #000;
    padding: 0.8em 1.5em;
    font-size: 0.9em;
    text-align: left;

    &:hover {
      background: $hoverColor;
    }
  }
}

.dark {
  %style-dropdown {
    background: #2A2F32;

    button {
      color: #fff;

      &:hover {
        background: #131d20bb;
      }
    }
  }
}

%style-checkbox {
  .container {
    position: relative;
    top: 0.4em;
    left: 1.3em;
    cursor: pointer;
    font-size: 1.3em;
  }

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    height: 0.7em;
    width: 0.7em;
    border-radius: 0.1em;
    border: 2px solid #737171;
  }

  input:checked ~ .checkmark {
    background-color: #009688;
  }

  .checkmark:after {
    content: "";
    display: none;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    position: relative;
    left: 0.2em;
    width: 0.3em;
    height: 0.5em;
    border: solid #fff;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg);
  }
}

%style-scrollbar {
  &::-webkit-scrollbar {
    width: 0.4em;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 1.5em;
  }
}

.dark {
  %style-scrollbar {
    &::-webkit-scrollbar-thumb {
      background: #384145;
    }
  }
}

@keyframes pop-in {
  0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes slideIn {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
  }
}

%center-modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

%style-icon {
  @include display(center);
  position: absolute;
  color: $textPrimaryColor;
  width: 3.5em;
  height: 3.5em;
  border: unset;
  border-radius: 50%;
  cursor: pointer;
  background-color: #00BEA4;

  i {
    font-size: 1.5em;
  }
}
