$primaryColor: #222D36;
$textPrimaryColor: #fff;
$secondaryColor: #00AF9C;

.dark {
  background: #101D24;
  color: $textPrimaryColor;

  .default-pane {
    .header {
      background: #2A2F32;
    }

    .search-box {
      background: #131D20;
      border-bottom: 1px solid #3E4548;
    }

    .nav-buttons {
      border-right: 1px solid #3E4548;

      button {
        color: #B0B2B5;

        &:focus {
          background: #272A2C;
        }
      }
    }

    input {
      background: #2A2F32;
      color: $textPrimaryColor;
    }

    .contact-list {
      background: #131D20;

      .contact {
        &:hover {
          background: #33373865;
        }

        .info {
          border-bottom: 1px solid #3E4548;

          div {
            .notification {
              background: #01AE9C;
              color: #000;
            }
          }
        }
      }
    }
  }

  .default-page {
    background: #262C30;
    border-bottom: 0.4em solid #046163;

    div {
      border-bottom: 1px solid #3C4247;
    }

    span {
      color: #A6A9AB;
    }

    & > p {
      color: #A6A9AB;

      span {
        color: #01AE9C;
      }
    }
  }

  .profile-pane {
    background: #131D20;

    .header {
      background: #333738;
    }

    .input-container {
      background: #131D20;

      input {
        background: #131D20;
        color: $textPrimaryColor;
      }

      label {
        span {
          color: #03887D;
        }
      }
    }
  }

  .settings-pane {
    background: #131D20;

    .header {
      background: #333738;
    }

    .settings-button-container {
      button {
        background: #131D20;
        color: $textPrimaryColor;

        &:hover {
          background: #33373865;
        }
      }

      p {
        border-bottom: 0.5px solid #3C4247;
      }
    }

    span {
      color: #999DA0;
    }

    .overlay {
      background-color: #0f0d1188;
    }

    .profile-settings:hover {
      background: #33373865;
    }

    .wallpaper-content {
      background: #131D20;
    }

    .wallpaper-box-wrapper {
      span:hover {
        box-shadow: inset 0 0 0 0.25em #3B4143;
      }
    }

    .current {
      box-shadow: inset 0 0 0 0.25em #74797A;
    }

    .default-wallpaper {
      background: #0C1419;

      small {
        color: $textPrimaryColor;
      }
    }
  }

  .status-page {
    .status-message {
      border-bottom: 1px solid #29333A;
    }

    .plus-icon {
      background: $secondaryColor;
    }

    .more-button {
      color: $secondaryColor;
    }
  }

  .text-icon {
    background: $primaryColor;
    color: $textPrimaryColor;
  }

  .photo-icon {
    background: $secondaryColor;
  }

  .phone-icon {
    background: $secondaryColor;
  }

  .header {
    background: $primaryColor;
  }

  .user-profile {
    border-bottom: 1px solid #29333A;
  }

  .settings-options {
    button {
      color: $textPrimaryColor;

      i {
        color: $textPrimaryColor;
      }
    }
  }

  .nav {
    background: $primaryColor;

    .active {
      color: $secondaryColor;
      border-bottom: 0.2em solid $secondaryColor;
    }
  }

  .overlay {
    .dropdown {
      background: $primaryColor;

      button {
        color: $textPrimaryColor;

        &:active {
          background-color: #6b70755e;
        }
      }
    }
  }

  .modal-overlay {
    background: #0f0d1188;
  }

  .display-settings-page {
    @extend .settings-options;

    label {
      color: $textPrimaryColor;
    }

    h4 {
      color: $secondaryColor;
    }

    .chat-settings {
      border-bottom: 1px solid #29333A;

      input:checked + .slider:before {
        background-color: $secondaryColor;
      }
    }

    .display-setting {
      border-bottom: 1px solid #29333A;
    }
  }

  .theme-modal {
    background: #3b4143;

    .options {
      label input:checked ~ .checkmark {
        border: 2px solid $secondaryColor;
      }

      label input:checked ~ .checkmark:after {
        background: $secondaryColor;
      }

      .checkmark {
        border: 2px solid $textPrimaryColor;
      }
    }

    button {
      color: #01AE9C;
      background-color: #3b4143;
      border: 1px solid #00000073;
    }

    .ok-button {
      background: #01AE9C;
      color: #000;
    }
  }

  .font-modal {
    @extend .theme-modal;
  }

  .profile-page {
    .photo-icon {
      background: $secondaryColor;
    }

    .input-container {
      div {
        border-bottom: 0.1em solid #29333A;
      }

      input {
        background: #101D24;
        color: $textPrimaryColor;
      }

      i {
        color: $secondaryColor;
      }
    }

    .save-button {
      color: $secondaryColor;
    }

    .toaster {
      background: $secondaryColor;
    }
  }

  .contact-list-page {
    background: #101D24;

    .contact {
      .info {
        border-bottom: 1px solid #29333A;

        div {
          .notification {
            background: $secondaryColor;
            color: #000;
          }
        }
      }
    }

    .message-icon {
      background: $secondaryColor;
    }

    .contact-modal {
      background: #101D24;

      i {
        color: $secondaryColor;
      }
    }
  }

  .mobile-chat-page {
    .chat-input-container {
      .chat-input {
        background: $primaryColor;
        color: $textPrimaryColor;
      }

      .smiley-button {
        color: $textPrimaryColor;
      }

      .clip-button {
        color: $textPrimaryColor;
      }

      .record-button {
        background: $secondaryColor;
      }

      .send-button {
        background: $secondaryColor;
      }

      .persons-button-container {
        background: $primaryColor;

        .arrow-down {
          border-top: 1.5em solid $primaryColor;
        }
      }
    }

    .chat-dropdown {
      background: $primaryColor;

      button {
        color: $textPrimaryColor;

        &:active {
          background-color: #6b70755e;
        }
      }
    }

    .wallpaper-options {
      background: $primaryColor;
      color: $textPrimaryColor;
    }

    .chat-container {
      .content {
        background: $primaryColor;
      }

      .person-two {
        div {
          background: #02473f;
        }
      }

      .arrow-left {
        border-right: 0.8em solid $primaryColor;
      }

      .arrow-right {
        border-left: 0.8em solid #02473f;
      }
    }

    .selected-chat-options {
      background: $primaryColor;
    }
  }

  .delete-modal {
    background: $primaryColor;
    color: $textPrimaryColor;

    button {
      color: $secondaryColor;
    }
  }

  .contact-info-page {
    background: #101D24;

    .wrapper {
      background: $primaryColor;

      & > * {
        border-bottom: 0.1em solid #29333A;
      }

      i {
        color: $secondaryColor;
      }

      h4 {
        color: $secondaryColor;
      }
    }

    .fade-in-header {
      background: #202B33;
    }

    .button {
      background: $primaryColor;
      color: #e44848;
    }

    input:checked + .slider:before {
      background-color: $secondaryColor;
    }
  }

  .status-text-entry {
    .back-button {
      background: $secondaryColor;
    }

    .send-button {
      background: $secondaryColor;
    }
  }

  .status-gallery {
    .dropdown-button {
      color: $secondaryColor;
    }
  }

  .desktop-chat-page {
    background: #0C1419;

    .header {
      background: #2A2F32;
    }

    .button-container {
      button {
        color: #B0B2B5;

        &:focus {
          background: #272A2C;
        }
      }
    }

    .chat-input-container {
      background: #1F2429;

      .chat-input {
        background: #33383B;
        color: #fff;
      }
    }

    .persons-button-container {
      background: #1F2429;

      button {
        background: #33383B;
      }
    }

    .arrow-down {
      border-top: 1.5em solid #1F2429;
    }

    .content {
      background: #262C30;
    }

    .arrow-right {
      border-left: 1em solid #046163;
    }

    .arrow-left {
      border-right: 1em solid #262C30;
    }

    .angle-down-button {
      background: #262C30;
      color: #fff;
    }

    .person-two {
      .content {
        background: #046163;
      }

      .angle-down-button {
        background-color: #046163;
      }
    }

    .select-chat-modal {
      background: #2A2F32;

      button {
        color: #fff;
      }
    }

    .selected {
      background-color: #22292F;
    }

    .clear-modal {
      background: #3B4143;

      button {
        color: #01AE9C;
        background-color: #3b4143;
        border: 1px solid #00000073;
      }

      .clear-button {
        background: #01AE9C;
        color: #000;
      }
    }

    .delete-modal {
      @extend .clear-modal;
    }
  }

  .desktop-contact-info-pane  {
    background: #0C1419;
    border-left: 0.5px solid #414446;

    .header {
      background: #2A2F32;
    }

    .wrapper {
      background: #131D20;
    }

    .about-wrapper {
      background: #131D20;
    }

    .button-wrapper {
      button {
        background: #131D20;
        color: #EF687B;
      }
    }

    .contact-info {
      background: #131D20;
    }
  }
}
