@import '../../common/helper';

.view-status-entry {
  @extend %absolute-position;
  background: #000;

  .header {
    background: #7fff00;
  }

  .progress-bar {
    width: 100%;
    background-color: #ddd;
  }

  .bar {
    width: 1%;
    height: 0.3em;
    background-color:#808080bc;
  }

  .user-profile {
    display: flex;
    align-items: center;
    gap: 0 1em;
    height: 4em;
    color: $textPrimaryColor;
    width: 100%;

    span {
      font-size: 0.8em;
    }

    p {
      margin: 0;
      font-weight: 600;
    }

    button {
      @extend %remove-default;
      margin-left: 0.5em;
    }
  }

  .photo-container {
    @include display(center);
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background: #000;

    .photo {
      height: 2.5em;
      width: 2.5em;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .content {
    img {
      height: 90%;
      width: 100%;
      background: chocolate;
      margin-top: 1em;
      object-fit: cover;

      @media screen and (min-width: 768px) {
        height: fit-content;
        width: 50%;
        margin: 1em 25%;
      }
    }

    .previous-button {
      position: absolute;
      top: 6em;
      height: 80%;
      width: 5em;
      cursor: pointer;
      opacity: 0;
    }

    .next-button {
      position: absolute;
      top: 6em;
      right: 0;
      height: 80%;
      width: 5em;
      cursor: pointer;
      opacity: 0;
    }
  }
}
