@import '../../../common/style/helperMobile';

.status-gallery {
  @extend %absolute-position;

  .header {
    @extend %style-header;
  }

  .content {
    position: relative;
    top: 3.5em;
    padding-bottom: 1em;

    .status-output {
      padding: 1em 1em 0;
    }

    .text-input {
      @include display(center);
      height: 3.5em;
      min-width: 3.5em;
      max-width: 3.5em;
      border-radius: 50%;
      color: #fff;
      word-break: break-all;
      overflow: hidden;
    }

    .single-status-entry {
      display: flex;
      align-items: center;
    }

    .photo-container {
      @extend %photo-size;
      background: #000000;

      .photo {
        @extend %photo-size;
        object-fit: cover;
      }
    }

    .status-info {
      width: 100%;
      padding: 1em;

      span {
        font-weight: 550;
      }

      p {
        font-size: 0.9em;
        margin: 0.5em 0 0;
      }
    }

    .dropdown-button {
      @extend %remove-default;
      color: $secondaryColor;
    }

    .toaster {
      text-align: center;
      font-size: 0.9em;
    }
  }

  .text-icon {
    @extend %remove-default;
    @include display(center);
    position: fixed;
    bottom: 8em;
    right: 2em;
    color: #000;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #f0e9e9;
    box-shadow: 0 0.2em 0.4em 0 #000000d5;
  }

  .photo-icon {
    @extend %style-icon;
  }

  .overlay {
    @extend %fixed-position;
    height: 100%;
    background-color: transparent;
  }

  .modal-overlay {
    @extend .overlay;
    background-color: #00000066;
  }

  #addStatusFilePicker {
    display: none;
  }

  .dropdown {
    @extend %style-dropdown;
  }

  .delete-modal {
    @extend %center-modal;
    padding: 1em;
    width: 75%;
    background: #fff;
    color: #000;
    text-align: right;
    border-radius: 0.2em;

    p {
      margin-top: 0;
      text-align: left;
    }

    button {
      @extend %remove-default;
      color: $primaryColor;
      font-weight: 600;
    }
  }
}
