@import '../../common/helper';

.status-text-entry {
  @extend %absolute-position;

  .input-container {
    @include display(center)
  }

  textarea {
    position: absolute;
    top: 1em;
    font-size: 2em;
    width: 95%;
    color: #fff;
    outline: none;
    resize: none;
    border: none;
    text-align: center;
    height: 85%;
    background-color: transparent;

    &::placeholder {
      color: #ffffffaf;
    }
  }

  .back-button {
    @extend %style-icon;
    left: 1em;
    background-color: var(--primary-background-color);
  }

  .send-button {
    @extend %style-icon;
    background-color: var(--primary-background-color);
  }

  .status-input-options {
    @include display(center);
    position: absolute;
    bottom: 2em;
    width: 100%;
    height: 3em;

    button {
      padding: 0 0.5em;
      font-size: 1.8em;
    }
  }

  button {
    @extend %remove-default;
  }

  .smileys {
    bottom: 5.5em;

    .arrow-down {
      left: 3em;
    }
  }
}
