@import '../../../common/style/helperDesktop';

.desktop-status-page {
  display: grid;
  grid-template-columns: 35% 65%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif, Helvetica;
  color: #fff;

  .status-pane {
    background-color: #151514;
    height: 100%;
  }

  .add-status-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #414041;
    padding: 2em 0 1.5em 1em;
    cursor: pointer;

    .photo-container {
      @extend %photo-size;
      background: #000000;

      .photo {
        @extend %photo-size;
        object-fit: cover;
      }
    }

    .plus-icon {
      position: absolute;
      top: 3.5em;
      left: 2.2em;
      font-size: 1.4em;
      border-radius: 50%;
      background-color: $secondaryColor;
      color: $textPrimaryColor;
    }

    .status-message {
      width: 100%;
      padding: 1em;

      p {
        margin: 0;
      }

      span {
        font-size: 0.8em;
      }
    }
  }

  .view-status-container {
    @extend .add-status-container;
  }

  .text-input {
    @include display(center);
    height: 3.5em;
    min-width: 3.5em;
    max-width: 3.5em;
    border-radius: 50%;
    word-break: break-all;
    overflow: hidden;
  }

  .photo-container {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background: #000000;

    .photo {
      height: 3em;
      width: 3em;
      cursor: pointer;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  #addStatusFilePicker {
    display: none;
  }

  .text-icon {
    @extend %remove-default;
    @include display(center);
    position: absolute;
    bottom: 10em;
    left: 28.5%;
    color: #000;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: #f0e9e9;
    box-shadow: 0 0.2em 0.4em 0em #000000d5;
  }

  .photo-icon {
    @include display(center);
    @extend %style-icon;
    bottom: 4em;
    left: 28%;

    i {
      font-size: 1.5em;
    }
  }

  .desktop-status-gallery {
    @include display(space-around);
    background-color: #000;
    text-align: center;

    h4 {
      font-size: 1.5em;
    }

    .status-message {
      font-size: 1.5em;
      font-weight: 600;
    }

    .close-button {
      font-size: 2em;
      position: absolute;
      right: 1em;
      top: 0.5em;
    }
  }

  .status-output-container {
    width: 100%;

    & > div {
      @extend %style-scrollbar;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      overflow-y: auto;
      max-height: 30em;
    }

    .photo-container {
      font-size: 1.7em;
    }

    .status-info {
      padding: 1em 0;

      p {
        font-size: 0.8em;
        margin: 0.5em 0 0;
      }
    }

    .single-status-entry {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;
    }

    .text-input {
      font-size: 1.4em;
      cursor: pointer;
    }
  }

  button {
    @extend %remove-default;
    color: #fff;
  }

  .modal-overlay {
    @extend %style-overlay;
    background-color: #00000066;
  }

  .delete-modal {
    @extend %center-modal;
    padding: 1em;
    width: 40%;
    background: #fff;
    color: #000;
    text-align: right;
    border-radius: 0.2em;
    box-shadow: 0 0.5em 1em 0 #0000006c;
    p {
      margin-top: 0;
      text-align: left;
    }

    button {
      @extend %remove-default;
      margin-top: 2em;
      padding: 0.8em 1.8em;
      background: #fff;
      color: #05cc50;
      border-radius: 0.3em;
      border: 1px solid #f1f1f0;

      &:hover {
        box-shadow: 0 0 0.2em 0 #0000006c;
      }
    }

    .delete-button {
      background: #05cc50;
      color: #fff;
      margin-left: 0.5em;
    }
  }
}
