@import '../../../common/helperMobile';

.top-nav {
  @extend %fixed-position;

  .header {
    @include display(space-between);
    padding-left: 1em;

    button {
      @extend %remove-default;
      width: 3em;
      height: 2em;
      font-size: 1.1em;
      vertical-align: middle;
    }
  }

  .nav {
    @include display(space-around);

    button {
      @extend %remove-default;
      font-weight: 600;
      color: #ffffffca;
      height: 3.5em;
      width: 100%;
      flex: 1;

      &:first-child {
        flex: 0.5;
      }
    }

    .active{
      color: $textPrimaryColor;
      border-bottom: 0.2em solid $textPrimaryColor;
    }
  }

  .overlay {
    @extend %fixed-position;
    height: 100%;
    background-color: transparent;

    .dropdown {
      @extend %style-dropdown;
    }
  }
}
