@import '../../common/helper';

.contact-list-page {
  @extend %relative-position;
  box-sizing: border-box;
  padding: 0.5em 1em;

  .contact-list {
    padding-bottom: 0.5em;

    .contact {
      display: flex;
      align-items: center;
      gap: 0 1em;

      .info {
        width: 100%;
        border-bottom: 1px solid #DCDCDC;
        padding: 0.5em 1em 0.5em 0;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        p {
          margin: 0.5em 0 0 0;
          font-weight: 600;
        }

        div {
          @include display(space-between);
          font-size: 0.9em;

          .notification {
            background-color: $secondaryColor;
            padding: 0.5em 0.8em;
            font-weight: 600;
            color: $textPrimaryColor;
            border-radius: 50%;
            font-size: 0.8em;
          }
        }
      }
    }

    .photo-container {
      @extend %photo-size;
      background: #000000;
      -webkit-tap-highlight-color: transparent;

      .contact-photo {
        @extend %photo-size;
        object-fit: cover;
      }
    }
  }

  .overlay {
    @extend %fixed-position;
    height: 100%;
    background-color: #00000066;
  }

  .contact-modal {
    position: fixed;
    top: 8em;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-10%);
    width: 75%;
    height: auto;
    background: $textPrimaryColor;

    .contact-photo {
      width: 100%;
      height: 15em;
      object-fit: cover;
    }

    .contact-name {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 2.3em;
      padding-left: 1em;
      box-sizing: border-box;
      font-size: 1.1em;
      color: $textPrimaryColor;
      background-color: #00000065;
    }

    .button-container {
      display: flex;
      justify-content: space-around;

      button {
        @extend %remove-default;
        height: 3em;
      }

      i {
        font-size: 1.8em;
        vertical-align: middle;
        color: $primaryColor;
      }
    }
  }

  .message-icon {
    @extend %style-icon;
  }
}
