@import '../../../common/style/helperDesktop';

.desktop-view-status-entry {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #000;

  .background-entry {
    height: 100%;
    width: 100%;
    filter: blur(8px);
    background-position: center;
    background-size: cover;
  }

  .content {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .bar-container {
    position: absolute;
    top: 1em;
    display: flex;
    gap: 0 0.3em;
    width: 30%;

    .progress-bar {
      width: 100%;
      border-radius: 1em;
      height: 0.5em;
      background-color: #dddddd7c;
    }

    .bar {
      width: 0;
      height: 0.5em;
      border-radius: 1em;
      background-color: #ddd;
    }
  }

  .info {
    position: absolute;
    top: 1em;
    text-align: center;
    color: #fff;

    p {
      margin: 1.5em 0 0.2em;
    }

    span {
      font-size: 0.87em;
    }
  }

  button {
    @extend %remove-default;
    color: #fff;
  }

  .status-entry-container {
    height: 100%;
    width: 40%;
    box-shadow: 0 0 0.5em 0 #0C1419;
  }

  img {
    width: 100%;
    height: 99%;
    object-fit: cover;
  }

  .close-button {
    position: absolute;
    right: 1em;
    top: 1em;
  }

  .back-button {
    position: absolute;
    left: 1em;
    top: 1em;
  }

  .previous-button {
    position: absolute;
    left: 0.8em;
    top: 50%;
    font-size: 2em;
  }

  .next-button {
    position: absolute;
    right: 0.8em;
    top: 50%;
    font-size: 2em;
  }

  .text-input {
    @include display(center);
    padding: 0 1em;
    box-sizing: border-box;
    height: 99%;
    width: 100%;
    font-size: 1.8em;
    word-break: break-all;
    white-space: pre-wrap;

    p {
      color: #fff;
      line-height: 1.5em;
    }

    a {
      color: #24d2f9;

      &:hover {
        color:#ffcc00;
      }
    }
  }
}
