@import '../../../common/style/helperDesktop';

.default-page {
  background-color: #F8F9FA;
  border-bottom: 0.4em solid $secondaryColor;
  text-align: center;

  img {
    width: 17em;
    height: 17em;
    object-fit: cover;
    padding: 1em 0;
  }

  div {
    width: 50%;
    margin: auto;
    border-bottom: 1px solid #DCDCDC;
    padding: 3.5em 0 2em;

    p {
      font-size: 2em;
      margin: 0 0 0.5em;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 100;
    }

    span {
      font-size: 0.9em;
      line-height: 1.5em;
    }
  }

  & > p {
    font-size: 0.9em;
    margin-top: 2.5em;

    span {
      color: $secondaryColor;
    }
  }
}
