@import '../../common/helper';

.chat-page {
  position: fixed;
  left: 0;
  background:url('../../common/lightThemeChatWallpaper.jpg');
  width: 100%;
  height: 100%;

  .header {
    @extend %fixed-position;
    @include display(space-between);
    height: 4em;

    .back-button-container {
      display: flex;
      align-items: center;
    }

    .chat-person-info {
      width: 100%;
      cursor: pointer;
      margin-left: 0.5em;
      -webkit-tap-highlight-color: transparent;

      .name {
        font-weight: 550;
      }

      p {
        margin: 0;

        &:last-child {
          font-size: 0.8em;
        }
      }
    }

    .photo-container {
      @extend %photo-size;
      @include display(center);
      background: #000000;
      font-size: 0.8em;
    }

    .contact-photo {
      @extend %photo-size;
      object-fit: cover;
      font-size: 0.8em;
      -webkit-tap-highlight-color: #DCDCDC;
    }

    button {
      @extend %remove-default;
    }

    .button-container {
      display: flex;
      align-items: center;

      button {
        width: 3em;
        height: 3em;

        i {
          font-size: 1.5em;
        }
      }
    }
  }

  .chat-container {
    position: relative;
    top: 3.5em;
    padding-top: 0.5em;
    height: auto;
    max-height: 73%;
    overflow-y: auto;

    .chat-item-wrapper {
      width: 100%;
      margin-bottom: 0.07em;
    }

    .selected-chat {
      background-color: #2690b1a2;
    }

    .chat-item-overlay {
      position: relative;
      z-index: -1;
    }

    %style-arrow {
      position: relative;
      top: 0.2em;
      width: 0;
      height: 0;
      border-bottom: 1.5em solid transparent;
    }

    .arrow-right {
      @extend %style-arrow;
      right: 1.3em;
      border-left: 0.8em solid #fff;
      float: right;
    }

    .arrow-left {
      @extend %style-arrow;
      left: 1.3em;
      border-right: 0.8em solid #E1FFC7;
      float: left;
    }

    .chat-item {
      padding: 0.2em 1em;
      display: flex;

      .chat-time {
        font-size: 0.8em;
        margin: 0;
        float: right;
        color: #9aad88;
        padding: 0.3em 0.5em 0.1em;

        i {
          color: #38a9f0;
          vertical-align: middle;
          font-size: 1.5em;
          margin-left: 0.2em;
        }
      }
    }

    .content {
      border-radius: 0.3em;
      padding: 0.3em 0.5em 0.1em;
      max-width: 18em;
      width: fit-content;
      height: auto;
      background-color: #E1FFC7;
    }

    .chat-text {
      word-wrap: break-word;
      display: inline;
    }

    .person-two {
      flex-direction: row-reverse;

      div {
        background-color: #fff;
      }
    }
  }

  .chat-input-container {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 10em;
    min-height: 4em;
    padding: 0.5em 0;
    z-index: 1;
    background-color: aqua;

    .chat-input-options {
      display: flex;
      align-items: center;
      flex: 1;
    }

    .chat-input {
      width: 100%;
      border-radius: 1.5em;
      resize: none;
      border: unset;
      padding: 0.8em 3em 0;
      font-size: 1.1em;
      outline: none;
      max-height: 8em;
    }

    .smiley-button {
      position: relative;
      left: 3em;
    }

    .clip-button {
      position: relative;
      right: 3em;

      i {
        font-size: 1.5em;
      }
    }

    .record-button {
      width: 3.5em;
      height: 3.5em;
      border-radius: 50%;
      background-color: $primaryColor;
      margin-right: 1em;

      i {
        font-size: 1.5em;
        color: $textPrimaryColor;
      }
    }

    .send-button-container {
      position: relative;
      display: inline-block;
    }

    .send-button {
      @extend .record-button;

      i {
        vertical-align: middle;
      }
    }

    .persons-button-container {
      position: absolute;
      bottom: 3em;
      right: 2em;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px #00000033;
      z-index: 1;
      padding: 0.5em;
      border-radius: 0.8em;
      border-bottom-right-radius: 0;

      button {
        display: block;
        color: #fff;
        padding: 0.5em 0.8em;
        font-weight: 600;
        border-radius: 0.5em;
        background: $primaryColor;
      }

      .person-one {
        margin-bottom: 0.5em;
      }
    }

    button {
      @extend %remove-default;
      color: #000;
    }

    .smiley-container {
      position: relative;
      display: inline-block;
    }
  }
}
