@import './common/style/theme.scss';

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, Helvetica;
}

.home-page {
  display: grid;
  grid-template-columns: 35% 65%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, Helvetica;
}

.right-pane {
  grid-template-columns: 30% 40% 30%;

  .chat-output-container {
    .chat-content-wrapper {
      margin: 0 2em 0 4em;
    }

    .person-two {
      .angle-down-button {
        right: 2em;
      }
    }
  }

  .header-dropdown {
    right: 32%;
  }

  .dropdown {
    left: 10em;
  }
}
