$primaryColor: #1D7063;
$textPrimaryColor: #fff;
$secondaryColor: #00E676;

%fixed-position {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: $primaryColor;
  color: $textPrimaryColor;
}

%relative-position {
  position: relative;
  top: 6em;
}

%photo-size {
  height: 3.5em;
  width: 3.5em;
  cursor: pointer;
  border-radius: 50%;
}

%remove-default {
  border: unset;
  background-color: transparent;
  color: $textPrimaryColor;
  cursor: pointer;

  &:active {
    transform: translateY(0.2em);
  }
}

@mixin display($value) {
  display: flex;
  justify-content: $value;
  align-items: center;
}

%style-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2em;
  right: 1.5em;
  color: $textPrimaryColor;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  font-size: 1.2em;
  background-color: $secondaryColor;
  box-shadow: 0 0.2em 0.2em 0em #00000060;
}
