$primaryColor: #222D36;
$textPrimaryColor: #fff;
$secondaryColor: #00AF9C;

.dark {
  background: #101D24;
  color: $textPrimaryColor;

  .status-page {
    .status-message {
      border-bottom: 1px solid #29333A;
    }

    .plus-icon {
      background: $secondaryColor;
    }

    .photo-icon {
      background: $secondaryColor;
    }

    .text-icon {
      background: $primaryColor;
      color: $textPrimaryColor;
    }

    .more-button {
      color: $secondaryColor;
    }
  }

  .phone-icon {
    background: $secondaryColor;
  }

  .header {
    background: $primaryColor;
  }

  .user-profile {
    border-bottom: 1px solid #29333A;
  }

  .settings-options {
    button {
      color: $textPrimaryColor;

      i {
        color: $textPrimaryColor;
      }
    }
  }

  .nav {
    background: $primaryColor;

    .active {
      color: $secondaryColor;
      border-bottom: 0.2em solid $secondaryColor;
    }
  }

  .overlay {
    .dropdown {
      background: $primaryColor;

      button {
        color: $textPrimaryColor;

        &:active {
          background-color: #6b70755e;
        }
      }
    }
  }

  .display-settings-page {
    @extend .settings-options;

    label {
      color: $textPrimaryColor;
    }

    h4 {
      color: $secondaryColor;
    }

    .chat-settings {
      border-bottom: 1px solid #29333A;

      input:checked + .slider:before {
        background-color: $secondaryColor;
      }
    }

    .display-setting {
      border-bottom: 1px solid #29333A;
    }
  }

  .theme-modal {
    background: $primaryColor;

    .options {
      label input:checked ~ .checkmark {
        border: 2px solid $secondaryColor;
      }

      label input:checked ~ .checkmark:after {
        background: $secondaryColor;
      }

      .checkmark {
        border: 2px solid #fff;
      }
    }

    button {
      color: $secondaryColor;
    }
  }

  .font-modal {
    @extend .theme-modal;
  }

  .profile-page {
    .photo-icon {
      background: $secondaryColor;
    }

    .input-container {
      div {
        border-bottom: 0.1em solid #29333A;
      }

      input {
        background: #101D24;
        color: #fff;
      }

      i {
        color: $secondaryColor;
      }
    }

    .save-button {
      color: $secondaryColor;
    }

    .toaster {
      background: $secondaryColor;
    }
  }

  .contact-list-page {
    background: #101D24;

    .contact {
      .info {
        border-bottom: 1px solid #29333A;

        div {
          .notification {
            background: $secondaryColor;
          }
        }
      }
    }

    .message-icon {
      background: $secondaryColor;
    }

    .contact-modal {
      background: #101D24;

      i {
        color: $secondaryColor;
      }
    }
  }

  .chat-page {
    .chat-input {
      background: $primaryColor;
      color: $textPrimaryColor;
    }

    .smiley-button {
      color: $textPrimaryColor;
    }

    .clip-button {
      color: $textPrimaryColor;
    }

    .record-button {
      background: $secondaryColor;
    }
  }
}
